<h1>Login</h1>

<!-- PERSON LOGIN -->
<form #personForm="ngForm" (ngSubmit)="submitLogin(personForm)">

  <h2>Login as Person</h2>

  <input
    name="document"
    [(ngModel)]="document"
    required
    minlength="7"
    maxlength="20"
    placeholder="Enter your document"
  />

  <button type="submit">Login as Person</button>

</form>



<!-- USER LOGIN -->
<form #userForm="ngForm" (ngSubmit)="submitUserLogin(userForm)">

  <h2>Login as User</h2>

  <input
    name="username"
    [(ngModel)]="username"
    required
    placeholder="Username"
  />

  <input
    name="password"
    [(ngModel)]="password"
    type="password"
    required
    placeholder="Password"
  />

  <button type="submit">Login as User</button>

</form>

<div class="logout-container">
  <button class="logout-btn" *ngIf="isLoggedIn()" (click)="logout()">
    Logout
  </button>
</div>

<div *ngIf="errorMessage()" class="error">
  {{ errorMessage() }}
</div>

