<h1>Organizations</h1>

<form #organizationForm="ngForm" (ngSubmit)="createOrganization(organizationForm)">
  <!-- ORGANIZATION NAME -->
  <input
    name="name"
    [(ngModel)]="newOrganization.name"
    required
    minlength="2"
    maxlength="120"
    placeholder="Organization Name"
    #name="ngModel"
  />

  <div *ngIf="name.touched && name.invalid">
    <small *ngIf="name.errors?.['required']">Organization Name is required</small>
    <small *ngIf="name.errors?.['minlength']"
      >Organization Name must have at least 2 characters</small
    >
    <small *ngIf="name.errors?.['maxlength']">Organization Name max length is 120 characters</small>
  </div>

  <!-- SHORT NAME -->
  <input
    name="short_name"
    [(ngModel)]="newOrganization.short_name"
    minlength="2"
    maxlength="30"
    placeholder="Short Name"
    #shortName="ngModel"
  />
  <div *ngIf="shortName.touched && shortName.invalid">
    <small *ngIf="shortName.errors?.['minlength']"
      >Short Name must have at least 2 characters</small
    >
    <small *ngIf="shortName.errors?.['maxlength']">Short Name max length is 30 characters</small>
  </div>

  <!-- COUNTRY CODE -->
  <input
    name="country_code"
    [(ngModel)]="newOrganization.country_code"
    minlength="2"
    maxlength="3"
    pattern="[A-Za-z]+"
    placeholder="Country Code (ej: MX)"
    #countryCode="ngModel"
  />
  <div *ngIf="countryCode.touched && countryCode.invalid">
    <small *ngIf="countryCode.errors?.['minlength']">Country Code must have 2 or 3 letters</small>
    <small *ngIf="countryCode.errors?.['maxlength']">Country Code must have 2 or 3 letters</small>
    <small *ngIf="countryCode.errors?.['pattern']">Country Code must contain only letters</small>
  </div>

  <button type="submit" [disabled]="organizationForm.invalid">Create Organization</button>
</form>

<p *ngIf="createError()">{{ createError() }}</p>

<div class="organizations-card">
  <h1>List of Organizations</h1>

  <ul class="organizations-list">
    <li *ngFor="let organization of organizations()">
      <span class="organization-name"> Name: {{ organization.name }} </span>

      <button class="delete-btn" (click)="deleteOrganization(organization._id)">Delete</button>
    </li>
  </ul>
</div>
